@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <a>Welcome to Holter Online</a>
        <img src="Images/HolterLogo.png" asp-append-version="true" height="30" />
           
    </div>

    <div class="content">
        @Body
    </div>
</div>
