@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">

            <RadzenMenu>
                <RadzenMenuItem Text="Mein Profil" Icon="account_box">
                    <RadzenMenuItem Text="Logout" Path="/"  Icon="account_circle"></RadzenMenuItem>
                 
                </RadzenMenuItem>
        </RadzenMenu>

        <MatH4 class="center">
        </MatH4>
        <img src="Images/HolterLogo.png" asp-append-version="true" height="30" />

    </div>

    <div class="content">
        @Body
    </div>
</div>
