@page "/"
@page "/Home"

    <div>
        
        <p>
            <MatTextField @bind-Value="@myStringValue" Label="Suche"></MatTextField>
        </p>
        <p>
        <MatButton>@myStringValue</MatButton>
        </p>

    </div>

@code
{
    private string myStringValue;

    public string MyStringValue
    {
        get { return myStringValue; }
        set { myStringValue = value; }
    }

    public void valueChanged123()
    {

    }


}


